[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-logging-base = {editable = true, git = "https://github.com/praecipula/python_logging_base"}
pyyaml = "*"
slack-bolt = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.11"


[scripts]
build="pipenv run pyinstaller --clean -y --onedir --windowed -n 'slack_me' --add-data 'slack_me/credentials.yaml:.' 'slack_me/message.py'"
